<section>
    <h2 class="mat-display-1">Popular Quiz</h2>
    <mat-grid-list cols="2" rowHeight=1:1>
        <mat-grid-tile>
            <img src="assets/images/quiz-share.png" alt="quiz share">
        </mat-grid-tile>
        <mat-grid-tile>
            <img src="assets/images/quiz-share.png" alt="quiz share">
        </mat-grid-tile>
        <mat-grid-tile>
            <img src="assets/images/quiz-share.png" alt="quiz share">
        </mat-grid-tile>
        <mat-grid-tile>
            <img src="assets/images/quiz-share.png" alt="quiz share">
        </mat-grid-tile>
    </mat-grid-list>
</section>