<section>
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
        <img src="assets/images/quiz-timer.jpg" loading="lazy" alt="quiz timer">
        <div>
            <h2 class="mat-h1">Play whenever you feel like</h2>
            <p class="mat-body">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </p>
            <button type="button" mat-raised-button>Get Started</button>
        </div>
        <img src="assets/images/quiz-ranking.jpg" loading="lazy" alt="quiz ranking">
        <div>
            <h2 class="mat-h1">Play whenever you feel like</h2>
            <p class="mat-body">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </p>
            <button type="button" mat-raised-button>Get Started</button>
        </div>
        <img src="assets/images/quiz-social.jpg" loading="lazy" alt="quiz social">
        <div>
            <h2 class="mat-h1">Play whenever you feel like</h2>
            <p class="mat-body">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </p>
            <button type="button" mat-raised-button>Get Started</button>
        </div>
    </div>
</section>